<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- Your title goes here -->
  <title>Welcome to bookable</title>
  <style>
    *{
      border: 0;
      margin: 0;
      padding: 0;
      border-collapse: collapse;
    }
  </style>
</head>

<!-- You can change background colour here -->

<body style="text-align: center; margin: 0; -webkit-text-size-adjust: 100%; max-width: 100%; background-color: #eaebed; color: #000000; font-family: sans-serif;"
  align="center">

  <!-- Fallback force center content -->

  <table style="text-align: center; border: 0; height: 100%; border-collapse: collapse; margin: 0 auto;"
    align="center">
    <tbody style="border: 0;">
      <tr style="border: 0;">
        <td style="vertical-align: middle; height: 100%; border: 0; text-align: center;">
          <!-- Template -->
          <table align="center"
            style="border: 0; border-collapse: collapse; text-align: center; width: 100%; max-width: 600px; height: 100%; vertical-align: middle; background-color: #ffffff; margin: 0 auto;">
            <tbody style="border: 0;">

              <!-- Start container for logo -->

              <tr style="border: 0;">
                <td
                  style="border: 0; width: 100%; vertical-align: middle; padding-left: 0; padding-right: 0; padding-top: 30px; padding-bottom: 15px;">

                  <!-- Your logo is here -->
                  <img
                    style="width: 180px; max-width: 100%; height: 60px; max-height: 60px; text-align: center; color: #ffffff;"
                    alt="Logo" src="{{domain}}/logo.png" align="center">

                </td>
              </tr>

              <!-- End container for logo -->

              <!-- Start single column section -->

              <tr style="border: 0;">
                <td
                  style="border: 0; width: 100%; vertical-align: middle; padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 10px;">
                  <!-- Hero image -->
                  <img style="width: 300px; max-width: 80vw; height: 450px; max-height: 45vh; text-align: center; padding: 20px 10px;"
                    src="https://i.ibb.co/X5y4GRg/Welcome-to-bookable.jpg" alt="Welcome-to-bookable" align="center"
                    height="350">
                  <!-- Hero image -->
                  <h1
                    style="font-size: 30px; line-height: 30px; margin-bottom: 10px; font-weight: 600; text-decoration: none; color: #093d65;">
                    Welcome to bookable.</h1>

                  <p
                    style="font-size: 15px; line-height: 22px; font-weight: 400; text-decoration: none; color: #919293; margin-bottom: 10px;">
                    Your
                    all-in-one platform for the seamless management of events, online/offline appointments and
                    inspections.</p>

                  <p
                    style="font-size: 15px; line-height: 22px; font-weight: 400; text-decoration: none; color: #919293; margin-bottom: 10px;">
                    You
                    have created account on our website <b>bookable</b>. Please click the button below to verify your
                    email:</b>.</p>

                    <a href="{{domain}}/verify/{{token}}/userId/{{user_id}}" target="_blank"
                    style="background-color: #093d65; font-size: 15px; line-height: 22px; font-weight: normal; text-decoration: none; padding: 12px 15px; color: #ffffff; border-radius: 5px; display: inline-block; margin-bottom: 20px;">

                    <span style="color: #ffffff;">Verify email</span>

                  </a>
                  <!-- End button here -->

                  <p
                    style="font-size: 15px; line-height: 22px; font-weight: 400; text-decoration: none; color: #919293; ">
                    You
                    can also verify by clicking <a target="_blank" style="text-decoration: underline; color: #093d65;"
                      href="{{domain}}/verify/{{token}}/userId/{{user_id}}"
                      download="HTML Email Template"><u>here</u></a></p>

                </td>
              </tr>
              <!-- End single column section -->

              <!-- Start footer -->
              <tr style="border: 0;">
                <td
                  style="border: 0; width: 100%; vertical-align: middle; padding-left: 30px; padding-right: 30px; padding-top: 10px; padding-bottom: 30px;">

                  <!-- Your inverted logo is here -->
                  <img
                    style="width: 180px; max-width: 100%; height: 60px; max-height: 60px; text-align: center; color: #ffffff;"
                    alt="Logo" src="{{domain}}/logo.png" align="center">

                  <p
                    style="font-size: 12px; line-height: 12px; font-weight: normal; text-decoration: none; color: #919293; margin-top: 30px;">
                    Copyright © <a style="text-decoration: none; color: #919293;"
                      href="{{domain}}">bookable</a>. All rights reserved.
                  </p>

                  <p
                    style="margin-bottom: 0; font-size: 13px; line-height: 24px; font-family: 'Helvetica', Arial, sans-serif; font-weight: 400; text-decoration: none; color: #919293;">
                    <a target="_blank" style="text-decoration: none; color: #919293;"
                      href="{{domain}}/privacy-policy">
                      Privacy policy
                    </a>
                    &nbsp;
                    <a target="_blank" style="text-decoration: none; color: #919293;"
                      href="{{domain}}/terms-of-service">
                      Terms of service
                    </a>
                    &nbsp;
                    <a target="_blank" style="text-decoration: none; color: #919293;"
                      href="{{domain}}/support">
                      Support
                    </a>
                  </p>

                </td>
              </tr>
              <!-- End footer -->
            </tbody>
          </table>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>